<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <settings>
        <!-- Python installed path. Required when python is not in environment val PATH. -->
        <setting id="base_path"></setting>
        <!-- Main folder. -->
        <setting id="work_folder"></setting>
        <!-- Backup folder. -->
        <setting id="backup_folder"></setting>
        <!-- Required when python is not in environment val JAVA_HOME. -->
        <setting id="java_home"></setting>
    </settings>

    <!-- Required -->
    <!--   pip install selenium -->
    <!--   pip install openpyxl -->
    <!--   pip install pillow -->
    <!--   pip install pyautogui -->
    <!--   pip install pyperclip -->

    <!-- Test environment -->
    <!--   os      : Windows 10 Pro -->
    <!--   office  : Excel 2013 -->
    <!--   browser : IE11 -->
    <!--     IE Configuration for selenium -->
    <!--     https://github.com/SeleniumHQ/selenium/wiki/InternetExplorerDriver#required-configuration -->

    <!-- TestSiet: EasyBuggy -->
    <!--   https://github.com/k-tamura/easybuggy/blob/master/README.jp.md -->
</configuration>